.foodList>img{
    width:50%;
    height:300px;
}

h3{
    color:blueviolet;
}
.foodList{
    border-top: 2px solid red;
    margin-top: 3%;
}

button{
    width:10%;
    height:30px;
    font-size: 20px;
    background-color: blueviolet;
    color: #fff;
    border: none;

}